@font-face {
    font-family: 'ChosunLo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunLo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@media all and (max-width: 1200px) {
    .wrap-img .nv {
        display: none;
    }
}

/* .section0{
    height: 1300px;
}
.section1{
    height: 1300px;
} */

html {
    scroll-behavior: smooth;
}

#s0{
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font: 16px/26px "Raleway", sans-serif;
    text-align: center;
    background-image: url("bb.PNG");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    overflow: hidden;
}
.container-b { 
    position: relative;
    width:700px;
    height:100%;
    background:rgb(0, 255, 13);
    margin:0 auto;
 }
 .boxcenter{
   position: absolute;
   top:50%;
   left:50%;
   width:30%;
   height:30%;
   background:blue;
   text-align:center;
   transform: translate(-50%, -50%)
 }
.wrap{
  /*상자 포지션*/
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;   
  width: 100vw;
}
.user {
    /*상자*/
    width: 450px;
    height: 540px;
    background: #2529347c;
    /* 상하좌우 정중앙 정렬하기 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    border: 0;
    overflow: hidden;

}


.a {
    margin: 1em 0;
    width: 90px;
    display: inline-block;
    padding: .2em 0em;
    background-color: #5C6576;
    border: none;
    color: #999;
    cursor: pointer;
    text-align: center;
    font-size: .8em;
    border-radius: 30px 0 0 30px;
    box-shadow: 0px 0px 27px -9px rgba(0, 0, 0, 0.75);
}



/*탭*/
.wtabs{
    height: 70px;
    width: 100vw;
}

.login{
    text-align: center;

}
.Order{
    text-align: center;

}

.tabs h3 {
    float: left;
    margin: 0;
    text-align: center;

    
}

.tabs h3 a {
    padding: 0.5em 0;
    text-align: center;
    font-weight: 400;
    display: block;
    color: #999;
    border: 0;
}

.tabs h3 a.active {
    color: #ccc;
}

.tabs h3 a.active span {
    padding-bottom: 4px;
    border-bottom: 1px solid #5FD1C1;
}


.tabs-content div[id$="tab-content"] {
    display: none;
}

.tabs-content .active {
    display: block !important;
}


.login-tab-content{

}

.form-wrap form .input {
    margin: 0 0 12.8px;
    padding: 12.8px 32px 10px 16px;
    width: 370px;
    display: inline-block;
    background: #30373F;
    border: 0;
    border-bottom: 0px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: #fff;
}

.tabs-content form .button {
    margin: 5px auto auto auto;
    padding: 10px 8em;
    /* width: 50%; */
    display: block;
    background-color: #04BEBD;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-display: center;
    border-radius: 0;

    box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
}

.tabs-content form .button:hover {
    background-color: #0ba7a7;
}


.orderV-form {
    padding-top: 50px;
}

/*체크박스*/
.tabs-content form .checkbox {
    margin: 0 0 1em 1em;
    padding: 20px;
    text-align: left;

}

.check {
    float: left;
}

label.re {
    color: #849898;
}

input[type="checkbox"]:checked+label.re {
    color: #489898;
}


.help-action {
    padding: 100px 0 0 0;
}

.line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(225, 219, 219, 0.35);
    font-size: 14px;
    margin: 8px 0px;
}

.line::before {
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background: rgba(225, 219, 219, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

.line::after {
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background: rgba(225, 219, 219, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px
}



.sns-wrap{
    float: center;
    
    margin: .1em auto .1em 0;
}

.login-sns .KKO{
height: 40px;
padding-right: 20px;


}

.login-sns.GGL{
    height: 40px;
}

/* .login-sns.NVR{
    height: 40px;
padding: 0 30px 0 30px;
} */

.help{
padding-top: 20px;
}


.Signw{
padding-top: 81px;}
