@font-face {
    font-family: 'ChosunLo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunLo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@media all and (max-width: 1200px) {
    .wrap-img .nv {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

#sec02 {

    background: lightgray;
}

* {
    margin: 0;
    padding: 0;}


body {
    position: relative;
    color: #e1dddd;
    font: 16px/26px "Raleway", sans-serif;
  
    height: 100%;
    background: #5e6060;
    overflow: hidden;
}

h2{
text-align: center;
padding-bottom: 60px;
}

.td{

    margin: 0 0 2em 0;
    padding: .8em 2em 10px 1em;
    width: 100%;
    display: inline-block;
    background: #30373F;
    border: 0;
    border-bottom: 0px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: #ffffff;
}



.u-box {
    /*상자*/
    background: #2529347c;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    box-shadow: none;
    border-radius: 0;
    padding: 50px;
    width: 500px;
    border: 0;
    overflow: hidden;

}

.wrap2 {
    /*상자 포지션*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 700px;
    height: 540px;
    margin: auto;
    border-radius: 0;
}


.s-form-wrap {
    margin: 50px 0 0;
    padding: 1.5em 0 0;
}

.s-form-wrap .tabs-content {
    padding: 1.5em 2.5em;
}



.s-form-wrap {
    width: 100%;
    margin: 40px 0 0;
    padding: 0;
}

.s-form-wrap a {
    color: #ccc;
    padding-bottom: 4px;
    text-decoration-color: #04BEBD;
}




.check {
    float: left;
}

label.re {
    color: #849898;
}

input[type="checkbox"]:checked+label.re {
    color: #223e3e;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}


.ok .button {
    margin: 50px auto auto auto;
    padding: 10px 3em;
    /* width: 50%; */
    display: block;
    background-color: #04BEBD;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-display: center;
    border-radius: 0;

    box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
}

.ok .button:hover {
    background-color: #0ba7a7;
}

input {
    font: 16px/26px sans-serif;
}


table {
    width: 500px;
    height: 550px;
    margin: auto;      
}


.e{
    float: left;
   
}
.email {
    margin: 0 0 5em 0;
    padding: .8em 2em 10px 1em;
    width: 43%;
    display: inline-block;
    background: #30373F;
    border: 0;
    border-bottom: 0px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: #fff;
}

select {
  
    height: 50px;
    margin: 0 0 2em 0;
    padding: .8em 2em 10px 1em;
    width: 50%;
    display: inline-block;
    background: #30373F;
    border: 0;
    border-bottom: 0px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: #fff;
}

.textid {
    margin: 0 0 2em 0;
    padding: .8em 2em 10px 1em;
    width: 70%;
    display: inline-block;
    background: #30373F;
    border: 0;
    border-bottom: 0px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: #fff;
}

.btn0 {
    padding: 5px 1em;
    margin: 5px;
    /* width: 50%; */
    background-color: #04BEBD;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-display: center;
    border-radius: 0;
    box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
}

.text {
    margin: 0 0 2em 0;
    padding: .8em 2em 10px 1em;
    width: 100%;
    display: inline-block;
    background: #30373F;
    border: 0;
    border-bottom: 0px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: #fff;
}

.button{
    float: left;
    
    margin: 0;
}
.btn {
    padding: 10px 3em;
    margin: 0;
    /* width: 50%; */
    background-color: #04BEBD;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-display: center;
    border-radius: 0;
    box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
}
.btn2 {
    padding: 10px 4em;
    /* width: 50%; */
    background-color: #7f8888;
    border: none;
    color: #4c4a4a;
    cursor: pointer;
    font-size: 20px;
    font-display: center;
    border-radius: 0;
    box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
}
.btn:hover {
    background-color: #0ba7a7;
}

.btn:active {
    width: 262px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(61, 135, 255);
}